@import "tailwindcss";

@layer base {
    :root {
      --primary-color: #0A3464; /* Blue-600 */
      --secondary-color: #E8A08F; /* Purple-600 */
      --black-color: #545454; /* Gray-700 */
    }
  
    /* Dark mode support */
    .dark {
      --primary-color: #3b82f6; /* Blue-500 */
      --secondary-color: #8b5cf6; /* Purple-500 */
      --text-color: #e5e7eb; /* Gray-200 */
    }
  }